@charset "utf-8";
$experimental-support-for-svg: true;

// $font_main: "Work Sans";

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$primary: #2c5b90;
$body-color: rgba(255, 255, 255, 0.9);
$c-blue: #2971f0;
$c-green: #48bb78;
$c-yellow: #ffb700;
